<%= form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :job_title, 'Job Title',:class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :salary_id,'Salary', :class => 'control-label' %>
    <div class="controls">
<!-- Generate the select values and visable strings for the select tag. -->
      <% salaries = Salary.select('id, min, max').order(:min) %>
      <% selectpre = [] %>
      <% salaries.each do |sal| %>
      <%   selectpre << [sal.min.to_s+' - '+sal.max.to_s, sal.id] %>
      <% end %>
      <%= f.select :salary_id, options_for_select(selectpre, @job.salary_id), prompt: "Salary" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :country_id, options_from_collection_for_select(Country.order('name'), :id, :name), prompt: "Country" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_type_id,'Job Type', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :job_type_id, options_from_collection_for_select(JobType.order('name'), :id, :name), prompt: "Sector" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subcategory_id,'Subcategory Id', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subcategory_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, 'Start Date', :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :start_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expire_date, 'Expire Date', :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :expire_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
  <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content,:size => '60x10',:class => 'text_area'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :education_level_id, 'Education Level Id', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :education_level_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :career_level_id, 'Career Level Id', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :career_level_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_details, 'Contact Details', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_details, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn' %>
  </div>
<% end %>
