<!-- locals: {job: Job::Record, where: String}
     Local where is the id of the element where the button is-->
<% @canJob = CandidateJob.where({candidate_id: current_candidate.id, job_id: job.id}) %>
<% if @canJob.exists?(:none) %>
 <%= button_to 'saved', {controller: 'candidate_jobs', action: :destroy, id: @canJob.take.id}, method: :delete, remote: true %>
<% else %>
 <%= button_to 'not saved', {controller: 'candidate_jobs', action: :new, job_id: job.id}, method: :post, remote: true %>
<% end %>
