<%- model_class = Job -%>
<div class="row top-margin">
  <div class='col-lg-2'></div>
    <div class='col-lg-8'>
      <h4>Search Function</h4>
      <%= render 'layouts/search_bar' %>
    </div>
  <div class='col-lg-2'></div>
</div>
<div class='row top-margin'>
  <div class='col-lg-2'></div>
  <div class='col-lg-8'>
    <% @jobs.each do |j| %>
      <a href='jobs/<%=j.id%>' class='novisit nohover'>
        <div class='job-search-element'>
          <div class='job-elem-left'>
            <strong><%=j.job_title%></strong>
            <p><%= format_location(j) %></p>
            <p><%=j.content.to(79)%></p>
          </div>
          <div class='job-elem-right'>
            <%= image_tag j.company.logo %>
            <div><%= j.company.name %></div>
            <div><%= j.salary.min %> - <%= j.salary.max %></div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <div class='col-lg-2'></div>
</div>
