<%- model_class = Job -%>
<div class='row top-margin'>
  <div class='col-lg-1'></div>
  <div class='col-lg-8'>
    <div class='well'>
      <h3><%= @job.job_title %></h3>
      <small>Salary: <%= @job.salary.min %> - <%=@job.salary.max %></small><br/>
      <small>Location: <%= format_location(@job) %>
    </div>
  </div>
  <div class='col-lg-3 bg-info' style='padding:10px;'>
    <%= image_tag @job.company.logo, style: 'margin-top:10px;height:50px;width:50px;float:right;' %>
    <h3><%= @job.company.name %></h3>
    <small>Phone: <%= @job.company.phone %></small> <br/>
    <small>Email: <%= @job.company.supportemail %></small>
  </div>
</div>
<div class='row'>
  <div class='col-lg-1'></div>
  <div class='col-lg-8'>
    <h3>Job Details:</h3>
    <p><%= @job.content %></p>
  </div>
  <div class='col-lg-3'>
    <% if client_signed_in? && @job.client_id == current_client.id %>
      <div class='well actions-well'>
        <%= button_to 'Your Other Jobs',
                site_recruiter_job_management_path, :class => 'btn btn-default', :method => :get  %>
        <%= button_to t('.edit', :default => t("helpers.links.edit")),
                edit_job_path(@job), :class => 'btn btn-default', :method => :get %>
        <%= button_to t('.destroy', :default => t("helpers.links.destroy")),
                job_path(@job),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
      </div>
    <%elsif candidate_signed_in? %>
      <div class='well actions-well'>
        <div id='save-button-<%=@job.id%>'>
          <%= render partial: 'save_job_button', locals: {job: @job} %>
        </div>
        <div id='apply-button'>
          <%= render partial: 'apply/apply_button', locals: {job: @job} %>
        </div>
      </div>
    <% else %>
      <div class='well actions-well'>
        <%= button_to 'Register To Apply', new_candidate_registration_path, method: :get, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<dl class="dl-horizontal">
  <dt><strong>Job Title</strong></dt>
  <dd><%= @job.job_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salary_id) %>:</strong></dt>
  <dd><%= @job.salary_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @job.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_type_id) %>:</strong></dt>
  <dd><%= @job.job_type_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subcategory_id) %>:</strong></dt>
  <dd><%= @job.subcategory_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:client_id) %>:</strong></dt>
  <dd><%= @job.client_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <dd><%= @job.start_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expire_date) %>:</strong></dt>
  <dd><%= @job.expire_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @job.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:education_level_id) %>:</strong></dt>
  <dd><%= @job.education_level_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:career_level_id) %>:</strong></dt>
  <dd><%= @job.career_level_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_details) %>:</strong></dt>
  <dd><%= @job.contact_details %></dd>
  <dt><strong><%= Company.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @companyName %></dd>
</dl>
