<%= form_for(@salary_type) do |f| %>
  <% if @salary_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary_type.errors.count, "error") %> prohibited this salary_type from being saved:</h2>

      <ul>
      <% @salary_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
