<h1>Listing salary_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Currency</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @salary_types.each do |salary_type| %>
      <tr>
        <td><%= salary_type.name %></td>
        <td><%= salary_type.description %></td>
        <td><%= salary_type.currency %></td>
        <td><%= link_to 'Show', salary_type %></td>
        <td><%= link_to 'Edit', edit_salary_type_path(salary_type) %></td>
        <td><%= link_to 'Destroy', salary_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salary type', new_salary_type_path %>
