<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salary_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @salary_type.description %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @salary_type.currency %>
</p>

<%= link_to 'Edit', edit_salary_type_path(@salary_type) %> |
<%= link_to 'Back', salary_types_path %>
