<h1>client page</h1>

<table>
  <thead>
    <tr>
     
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
   
      
      </tr>
   
  </tbody>
</table>

<br>


<%= link_to 'HOME PAGE', site_main_path%><br/>

