<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Location:</strong>
  <%= @client.location %>
</p>

<p>
  <strong>Company:</strong>
  <%= @client.company_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @client.position_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', site_recruiter_path %>
