<!-- locals: {job: Job::Record, where: String}
     Local where is the id of the element where the button is-->
<% @canJob = Apply.where({candidate_id: current_candidate.id, job_id: job.id}) %>
<% if @canJob.exists?(:none) %>
 <%= button_to 'remove application', {controller: 'apply', action: :destroy, id: @canJob.take.id}, method: :delete, remote: true %>
<% else %>
 <%= button_to 'apply', {controller: 'apply', action: :apply, job_id: job.id}, method: :post, remote: true %>
<% end %>
