<p id="notice"><%= notice %></p>

<p>
  <strong>Min:</strong>
  <%= @salary.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @salary.max %>
</p>

<p>
  <strong>Salary type:</strong>
  <%= @salary.salary_type_id %>
</p>

<%= link_to 'Edit', edit_salary_path(@salary) %> |
<%= link_to 'Back', salaries_path %>
