<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>
      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
	
	<div class = "field">
	<%= f.label :candidate_skills%>
	  <%= f.collection_select(:candidate_skills, Skill.all, :name, :name, {},{:multiple =>true})%>
	 </div>
	 
  <div class="field">
    <p>
     <%= f.label :cv, 'CV'%>
     <%= f.file_field :cv%>
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
 
<%end%>
<% if user_signed_in?%>
	<% @candidate.user_id = current_user.id%>
	
	<% @candidate.save%>
	<%end%>
