<h1>Listing candidates</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Location</th>
      <th>User</th>
			<th>Skill</th>
			<th>skills</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.phone %></td>
        <td><%= candidate.location %></td>
        <td><%= candidate.user_id %></td>
				<td><%= candidate.skill_id%></td>
				<td><%= candidate.candidate_skills%></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_candidate_path %>

<!--
<%= form_tag  new_candidate_path, method: :post do %>
  <%= hidden_field_tag :new, value="yes" %>
  <%= submit_tag "New" %>
<% end %>-->
