<%if user_signed_in? && current_user.user_type.name == "candidate"%>
<h1>New candidate</h1>
<%else%>
<h1>Appy & Registration Page</h1>
<%end%>


<%= render 'form' %>

<%= link_to 'Back', candidates_path %>
