<div class='row'>
  <div class='col-lg-8'>
    <p>
      <strong>Name:</strong>
      <%= @candidate.first_name %> <%= @candidate.last_name %>
    </p>
    <p>
      <strong>Location:</strong>
      <%= @candidate.location %>
    </p>
  </div>
  <div class='col-lg-4'>
    <div class='well'>
      <h4>Contact Details</h4>
      <p>
        <strong>E-mail:</strong>
        <%= @candidate.email %>
      </p>
      <p>
        <strong>Phone:</strong>
        <%= @candidate.phone %>
      </p>
    </div>
    <div class='well'>
      <p>
      	<% if @candidate.cv.exists? %>
          <strong>CV attached </strong>
          <a href="<%= @candidate.cv.url %> =" target="_blank" >
            <%= @candidate.cv_file_name %>
      	</a>
      	<%else%>
          <a href="<%= @candidate.cv.url %> =" target="_blank" >
      	  <strong>CV:</strong> not attached
      	</a>
      	<%end%>
      </p>
    </div>
  </div>
</div>

