<h1>Listing companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Addresshq</th>
      <th>Phone</th>
      <th>Logopath</th>
      <th>Owner</th>
      <th>Website</th>
      <th>Supportemail</th>
      <th>Googlemapurl</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.addressHQ %></td>
        <td><%= company.phone %></td>
        <td><%= company.logopath %></td>
        <td><%= company.owner %></td>
        <td><%= company.website %></td>
        <td><%= company.supportemail %></td>
        <td><%= company.googlemapURL %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
