<div class='row top-margin'>
  <div class='col-lg-8'>
    <div class='row'>
      <div class='col-lg-2'>
        <%= image_tag @company.logo, style: 'width:100%;' %>
      </div>
      <div class='col-lg-6'>
        <p>
          <strong>Name:</strong>
          <%= @company.name %>
        </p>
        
        <p>
          <strong>Addresshq:</strong>
          <%= @company.addressHQ %>
        </p>
        <p>
          <strong>Owner:</strong>
          <%= @company.owner %>
        </p>
        
        <p>
          <strong>Googlemapurl:</strong>
          <%= @company.googlemapURL %>
        </p>
      </div>
    </div>
  </div>
  <div class='col-lg-4'>
    <div class='well'>
      <p>
        <strong>Phone:</strong>
        <%= @company.phone %>
      </p>
      
      <p>
        <strong>Website:</strong>
        <%= @company.website %>
      </p>
      
      <p>
        <strong>Supportemail:</strong>
        <%= @company.supportemail %>
      </p>
    </div>
  </div>
</div>
<% if client_signed_in? && current_client.id = @company.client_id %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
<% else %>
  <%= link_to 'Back', :back %>
<% end %>
