<div class='container'>
  <h1>Choose Level</h1>
  <% @levels.each do |lev| %>
    <%= button_to lev.name, {controller: 'service_level', action: :select, :service_level_id => lev.id} %>
  <% end %>
</div>
