<script type='text/javascript'>
  function hide_table(id){
    var title = $('#applications-job-title-'+id);
    title.toggleClass('job-title-application').toggleClass('job-title-application-open');
    var block = $('#table-container-'+id);
    block.css('display', (block.css('display') == 'none' ?'block':'none'));
  }
</script>
<div class='row top-margin'>
  <div id='application-titles-container' class= 'bg-info col-lg-4'>
    <h3>Application Manager</h3>
    <% @jobs.each do |j| %>
      <div id='applications-job-title-<%=j.id%>' class='job-title-application bg-info' onclick='hide_table(<%=j.id%>)' ><h4><%= j.job_title %> - <%= format_location(j) %></h4></div>
      <div id='table-container-<%=j.id%>' class='application-table-container' style='display:none;'>
        <% if j.applies.exists? %>
          <table>
            <thead>
              <th>Name</th>
              <th>E-Mail</th>
              <th>CV</th>
            </thead>
            <% j.applies.each do |a| %>
              <% candidate = a.candidate %>
              <tr>
              <td><%=link_to candidate.first_name+' '+candidate.last_name, candidate%></td>
              <td><%=candidate.email%></td>
              <% if candidate.cv.exists? %>
                <td><%=link_to candidate.cv_file_name, candidate.cv.url%></td>
              <% else %>
                <td><strong>No CV</strong>
              <% end %>
              </tr>
            <% end %>
          </table>
        <% else %>
          <strong>There are no applications</strong>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% @jobs.each do |j| %>
  <h3><%=j.job_title%></h3>
  <table class='table table-condensed'>
    <thead>
    <th>Name</th>
    <th>E-Mail</th>
    <th>CV</th>
    </thead>
    <tbody>
      <% j.applies.each do |a| %>
      <% candidate = a.candidate %>
        <tr>
          <td><%=link_to candidate.first_name+' '+candidate.last_name, candidate%></td>
          <td><%=candidate.email%></td>
          <td><%=link_to candidate.cv_file_name, candidate.cv.url%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'back', client_root_path %>
