<h4>Candidate Searching</h4>

<!--
<form class="form-inline" role="form">
  <div class="">
    <label class="sr-only" ></label>
    <input type="text" class="form-control" name= "skill_input" placeholder="Keywords">
  
    <label class="sr-only" ></label>
    <input type="text" class="form-control" name="work_input" placeholder="Work Backgournd">

   <label class="sr-only"></label>
   <input type="text" class="form-control" id="education_input" placeholder="Education Backgournd">
   </div>
	 <br>
   <center><button type="submit" class="btn btn-primary">Search</button></center>

</form>
-->

<div class="row">
	<div class="col-md-8">
		<form class="form-inline">
			<table>
				<tr>
					<%= search_form_for @search do |f| %>
					
					<td><%= f.text_field :candidate_skills_cont, :placeholder => "Skills"%></td>
				<td><%= f.text_field :first_name_cont, :placeholder => "Work Experience"%></td>
				<td><%= f.text_field :last_name_cont, :placeholder => "Education"%></td>
					
					<td><button 'f', class = 'btn btn-success'>Search</button> </td>
					<%end%>
				</tr>	
			</table>
		</form>       
	</div>      
</div>
    
		<h4>candidates list:</h4>

		<table class="table table-hover">
		  <thead>
		    <tr>
					
		      <th>Name</th>
					<th>skills</th>
		      <th>Phone</th>
		      <th>Location</th>	
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @candidates.each do |candidate| %>
		      <tr>
						
		        <td><%= link_to (candidate.first_name+" " +candidate.last_name), candidate_path(candidate) %></td>
						<td><%= candidate.candidate_skills%></td>
						
		        <td><%= candidate.phone %></td>
		        <td><%= candidate.location %></td>
		       
						
		      </tr>
		    <% end %>
		  </tbody>
		</table>