<div class='row top-margin'>
  <div class='col-lg-8'>
    <h3>Candidate Profile Page</h3>
    
    You Are Logined As: 
    <strong><i><%= current_candidate.first_name%> <%= current_candidate.last_name%></i></strong>
    
    <div id='saved-jobs-container'>
      <h3>Your saved jobs</h3>
      <% @saved.each do |j| %>
        <p>
          <%= link_to j.job_title, j %> 
        </p>
      <% end %>
      <h3>Applications</h3>
      <% @applications.each do |a| %>
        <p>
          <%= link_to a.job.job_title+' @ '+a.client.company.name, a.job %>
        </p>
      <% end %>
    </div>
  </div>
  <div class='col-lg-4'>
    <div class='well' id='cv-container'>
      <h3>Your CV</h3>
      <% if current_candidate.cv.exists? %>
        <%= link_to current_candidate.cv_file_name, current_candidate.cv.url %> 
        <%= link_to 'remove', destroy_cv_candidates_path, method: :delete%>
      <% else %>
        <%= form_for @current_candidate, :url => add_cv_candidates_path, :html => { :multipart => true } do |form| %>
          <%= form.file_field :cv , :onchange => 'form.submit()' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
