<h1>Site#contact</h1>
<p>Find me in app/views/site/contact.html.erb</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2382.46522193287!2d-6.263051900000001!3d53.33492790000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9f84351327%3A0xee7d84dd85a64302!2s68+Harcourt+St!5e0!3m2!1sen!2sie!4v1397561916913" width="600" height="450" frameborder="0" style="border:0"></iframe>
