<div class='row'>
  <span class='col-lg-6'>
    <h2>Candidate Log In</h2>
    <%= form_for(:candidate, :url => session_path(:candidate)) do |f| %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in' %>
      <%= link_to "Forgot your password?", new_password_path(:candidate) %>
    <% end %>
    <%= link_to 'Register', new_candidate_registration_path %>
  </span>
  <span class='col-lg-6'>
    <h2>Recruiter Log In</h2>
    <%= form_for(:client, :url => session_path(:client)) do |f| %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in' %>
      <%= link_to "Forgot your password?", new_password_path(:client) %>
    <% end %>
    <%= link_to 'Register', new_client_registration_path %>
  </span>
</div>
