<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<div class='row'>
    <h1>Are you ready for the hunt</h1>
	<div class='col-lg-6'>
		<%= image_tag('blue_target.jpg', :size => "380", class: 'main-logo') %>
	</div>
	<div class='col-lg-6' style='padding-top:70px;' >
		<%= render 'layouts/search_bar_v' %>
	</div>
</div>
