<h4>This Is Job Management Page</h4>

<strong><i><%= link_to "go back", client_root_path%></i></strong>
<%# = @example.id%>

<br/><br/><br/><br/><br/><br/>
<h4>Listing Jobs:</h4>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Job title</th>
      <th>Salary</th>
      <th>Location</th>
  <!--    <th>Job type</th>
      <th>Job subcategory</th>
      <th>Client</th>--> 
      <th>Start date</th>
      <th>Expire date</th>
      <th>Content</th>
 <!--     <th>Education level</th>
      <th>Career level</th>
      <th>Contact details</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.sort_by(&:created_at).reverse.each do |job| %>
      <tr id='job-row-<%= job.id %>'>
        <td><%= job.job_title %></td>
        <td><%= job.salary_id %></td>
        <td><%= format_location(job) %></td>
    <!--     <td><%= job.job_type_id %></td>
        <td><%= job.subcategory_id %></td>
        <td><%= job.client_id %></td>-->
        <td><%= job.start_date %></td>
        <td><%= job.expire_date %></td>
        <td><%= job.content %></td>
  <!--      <td><%= job.education_level_id %></td>
        <td><%= job.career_level_id %></td>
        <td><%= job.contact_details %></td>-->
		    <td><%= link_to t('.show', :default => t("helpers.links.show")),
		               job_path(job), :class => 'btn btn-success'  %></td>
		    <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
		               edit_job_path(job), :class => 'btn' %></td>
		    <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		               job_path(job),
                       :remote => true, 
		               :method => 'delete',
		               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		               :class => 'btn btn-warning' %></td>
								
      </tr>		
    <% end %>
  </tbody>
</table>
