<h3>Recruiter Portal Page</h3>
<div class='row margin-top'>
  <div class='col-lg-8'>
    <p>
    You Are Logined As: 
    <strong><i><%= current_client.last_name%> <%= current_client.first_name%></i></strong><br/>
    Membership level is <strong><i><%=@serviceName%></i></strong>
    </p>
    <div class='well'>
      <h4>Your Company Page</h4>
      <% if current_client.company_id.nil? %>
        <%= link_to 'Create your company page here', new_company_path %>
      <% else %>
        <strong><%=current_client.company.name%></strong>
        <%= image_tag current_client.company.logo, style: 'width:50px;' %>
        <%= link_to 'view', current_client.company %>
        <%= link_to 'edit', edit_company_path(current_client.company_id) %>
      <% end %>
    </div>
    <div id='application-titles-container' class= 'well'>
      <h3>Applications</h3>
      <% @jobs.each do |j| %>
        <div id='applications-job-title-<%=j.id%>' class='job-title-application bg-info' onclick='hide_table(<%=j.id%>)' ><h4><%= j.job_title %> - <%= format_location(j) %> <%=newApplies(j)%></h4></div>
        <div id='table-container-<%=j.id%>' class='application-table-container' style='display:none;'>
          <% if j.applies.exists? %>
            <table>
              <thead>
                <th>Name</th>
                <th>E-Mail</th>
                <th>CV</th>
              </thead>
              <% j.applies.each do |a| %>
                <% candidate = a.candidate %>
                <tr class=<%= a.reject.nil? ? 'new-applicant':''%> >
                  <td><%=link_to candidate.first_name+' '+candidate.last_name, candidate%></td>
                  <td><%=candidate.email%></td>
                  <% if candidate.cv.exists? %>
                    <td><%=link_to candidate.cv_file_name, candidate.cv.url%></td>
                  <% else %>
                    <td><strong>No CV</strong>
                  <% end %>
                </tr>
              <% end %>
            </table>
          <% else %>
            <strong>There are no applications</strong>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='col-lg-4'>
    <div class='well'>
      <% if @moreJobs %>
        <strong><i><%= link_to 'New Job', new_job_path %></i></strong>
      <% else %>
        <strong><i>You cannot post more jobs</i></strong>
      <% end %>
    </div>
    <div class='well actions-well'>
      <h4>Your Recent Job Posts</h4>
      <% @recentPosts.each do |post| %>
        <%= button_to post.job_title, post, class: 'btn btn-info', method: :get%>
      <% end %>
      <strong><%= link_to 'Mange All Jobs',site_recruiter_job_management_path %></strong>
    </div>
  </div>
</div>
<div class='row'>
  <div style='padding-top:20px;'>
    <%= link_to 'Candidates Search', site_candidate_search_path %></br>
    <%= link_to 'Select Level', service_level_levels_path %>
  </div>
</div>
