/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */

/*
 * CSS for the application.html.erb footer
 */
.footer-container{
	margin-top:50px;
	text-align:center;
	padding:30px;
	border-top:1px solid black;
}

/*
 * CSS for social media icons in the footer.
 */
#cover-facebook{
  background-color:#3b5998;
}
#cover-googleplus{
  background-color:#dd4b39;
}
#cover-linkedin{
  background-color:#007bb6;
}
#cover-twitter{
  background-color:#00aced;
}
/*
 * The flash notice container.
 */
.app-flash{
  width:10%;
  position:absolute;
  left:70%;
  z-index:999;
}
 
.social-cover{
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
  width:34px;
  height:34px;
  transition:opacity 0.5s ease-in-out;
}
.social-cover:hover{
  opacity:0.75;
}

.social-logo{
  border:2px solid black;
  padding:2px;
  width:34px;
  height:34px;
}
.social-container{
  position:relative;
  display:block;
  width:34px;
  height:34px;
  float:left;
  margin:2px;
}
