// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job-search-element{
  height:100px;
  background-color:lightgrey;
  margin:5px;
  padding:5px;
  border-radius:4px;
  img{
    height:50px;
    width:50px;
  }
  .job-elem-left{
    float:left;
  }
  .job-elem-right{
    text-align:right;
    float:right;
  }
}
