// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//CSS for the job ticker
.job-ticker-element{
  position:absolute;
  border-bottom:1px solid #D8F8F7;
  height:70px;
  width:280px;
  word-wrap: break-word;
  padding:10px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;

  a{
    color:black;
  }
}
.ticker-out{
  top:-70px;
}
.ticker-show1{
  top:0px;
}
.ticker-show2{
  top:70px;
}
.ticker-show3{
  top:140px;
}
.ticker-stock{
  top:210px;
}
.hide{
  visibility:hidden;
}
.job-ticker-element p{
  margin-bottom:0px;
}

#job-ticker{
  background-color:#A3E5E3;
  position:relative;
  overflow:hidden;
  width:280px;
  height:210px;
}

.main-logo{
  float:right;
}

//Application Manager for Client
$applications-space: 5px;
$applications-table-space: 3px;
$application-container-padding: 10px;
#application-titles-container{
  padding:$application-container-padding;
  padding-bottom:$application-container-padding - $applications-space;
  border-radius:$applications-space;
  & h3{
    padding:0px;
    margin:0px;
    margin-bottom:$applications-space;
  }
}
.job-title-application{
  border-radius:$applications-space;
  background:#A3E5E3;
  padding:$applications-space;
  margin-bottom:$applications-space;
  & h4{
    margin:0px;
  }
}
.job-title-application-open{
  @extend .job-title-application;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  margin-bottom:0px;
}
.application-table-container{
  margin-bottom:$applications-space;
  padding:$applications-space;
  border-bottom-left-radius:$applications-space;
  border-bottom-right-radius:$applications-space;
  border-bottom:solid #A3E5E3 2px;
  border-left:solid #A3E5E3 2px;
  border-right:solid #A3E5E3 2px;
  background:white;
  & table{
    border-collapse:separate;
    border-spacing:$applications-table-space;
  }
  & td{
    background:#A3E5E3;
    padding:5px;
  }
  & tr.new-applicant{
    & td {
      background:yellow;
    }
  }
}
