$('#save-button-<%=@jobId%>').html(
                    '<%= button_to 'not saved', 
                                    {controller: 'candidate_jobs', action: :new, job_id: @jobId}, 
                                    method: :post,
                                    remote: true %>'
);
