<%= stylesheet_link_tag 'search_bar' %>
<div id='search-container'>
	<%= search_form_for @search, url: jobs_path do |f|%>
		<table>
			<tr>
				<tr><td><strong>Job Search: </strong></td></tr>
				<tr><td><%= f.text_field :job_title_or_content_cont, :placeholder => "Keywords"%></td></tr>
				<tr><td>
					<%= f.select :job_type_id_eq, options_from_collection_for_select(JobType.order('name'), :id, :name), prompt: "Sector" %>
				</td></tr>
				<tr><td>
					<%= f.select :country_id_eq, options_from_collection_for_select(Country.order('name'), :id, :name), prompt: "Country" %>
				</td></tr>
				<tr><td><button 'f' class = 'btn btn-primary'>Search</button></td></tr>
			</tr>	
		</table>
	<%end%>
</div>
