<%= stylesheet_link_tag 'search_bar' %>
<div id='search-container'>
	<%= search_form_for @search, url: jobs_path do |f|%>
		<table>
			<tr>
				<td><strong>Job Search: </strong></td>
				<td><%= f.text_field :job_title_or_content_cont, :placeholder => "Keywords"%></td>
				<td>
					<%= f.select :job_type_id_eq, options_from_collection_for_select(JobType.order('name'), :id, :name, @selected[:job_type]), include_blank: 'Sector' %>
<%  puts @selected%>
				</td>
				<td>
					<%= f.select :country_id_eq, options_from_collection_for_select(Country.order('name'), :id, :name, @selected[:country]), include_blank: "Country" %>
				</td>
				<td><button 'f' class = 'btn btn-primary'>Search</button></td>
			</tr>	
		</table>
	<%end%>
</div>
