<% if user_signed_in? %>
  <p><%= current_user.email %></p>
	

  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete,  :class => 'btn btn-primary' %>
  
<% else %>
 <!-- <p>You are not signed in.</p>  -->

  <strong><%= link_to 'Login  ', new_user_session_path %></strong> Or
	<strong><%= link_to ' Registry', new_user_registration_path(:type => "candidate")%></strong> As A Candidate
	<br/>
	<strong><%= link_to 'Login ', new_user_session_path %></strong> Or
	<strong><%= link_to ' Registry', new_user_registration_path(:type => "recruiter"), :method => :get%></strong> As A Recruiter
	<br/>

<% end %>