<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "HeadHunt" %></title>
		<%= csrf_meta_tags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
		<![endif]-->
		
		<%= stylesheet_link_tag "application", :media => "all" %>
		
		<!-- For third-generation iPad with high-resolution Retina display: -->
		<!-- Size should be 144 x 144 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
		
		<!-- For iPhone with high-resolution Retina display: -->
		<!-- Size should be 114 x 114 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
		
		<!-- For first- and second-generation iPad: -->
		<!-- Size should be 72 x 72 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
		
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<!-- Size should be 57 x 57 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
		
		<!-- For all other devices -->
		<!-- Size should be 32 x 32 pixels -->
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
		
		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<%= nav_bar :brand => 'HuntTalent', :brand_link => root_path, :fixed => :top do %>
			<%= menu_group do %>
				<%= menu_item "Jobs", jobs_path %>
				<%= menu_divider %>
				<%= menu_item "About", site_about_path %>
				<%= menu_item "Contact Us", site_contact_path %>
			<% end %>
			<%= menu_group :pull => :right do %>
				<% if candidate_signed_in? %>
					<%= menu_item 'Your Profile', '/site/candidate' %>
					<%= menu_item 'Log Out', destroy_candidate_session_path, :method => :delete %>
				<% elsif client_signed_in? %>
					<%= menu_item 'Your Profile', '/site/recruiter' %>
					<%= menu_item 'Log Out', destroy_client_session_path, :method => :delete %>
				<% else %>
					<%= drop_down 'Register' do %>
                      <%= menu_item 'Candidate', new_candidate_registration_path %>
                      <%= menu_item 'Client', new_client_registration_path %>
                    <% end %>
					<%= menu_item 'Log In', site_login_path %>
				<% end %>
			<% end %>
		<% end %>
        <div class='app-flash'>
		  <%= bootstrap_flash %>
        </div>
        <div class='container'>
		  <%= yield %>
        </div>
		<footer>
			<div class='footer-container'>
				<div id='the-social-icons'>
                  <a href='http://www.facebook.com'>
				    <div class = 'social-container'>
				      <img class='social-logo top-left' src = '<%= asset_path 'facebook-iso-black.png'%>'>
				      <div id='cover-facebook'  class = 'social-cover'></div>
				    </div>
                  </a>
                  <a href='http://plus.google.com'>
				    <div class = 'social-container'>
				      <img class='social-logo top-left' src = '<%= asset_path 'googleplus-iso-black.png'%>'>
				      <div id='cover-googleplus' class = 'social-cover'></div>
				    </div>
                  </a>
                  <a href='http://www.linkedin.com'>
				    <div class = 'social-container'>
				      <img class='social-logo top-left' src = '<%= asset_path 'linkedin-iso-black.png'%>'>
				      <div id='cover-linkedin' class = 'social-cover'></div>
				    </div>
                  </a>
                  <a href='http://twitter.com'>
				    <div class = 'social-container'>
				      <img class='social-logo top-left' src = '<%= asset_path 'twitter-iso-black.png'%>'>
				      <div id='cover-twitter' class = 'social-cover'></div>
				    </div>
                  </a>
				</div>
				<small>HuntTalent 2014 &copy;</small>
			</div>
		</footer>
	</body>
</html>
